# Core LangChain
langchain
langchain_core
langchain-community

# Application Environment
streamlit
python-dotenv
ipykernel

# LLMs and APIs
openai
langchain-openai
langchain-groq

# Data Loading & Preprocessing
pypdf
bs4
arxiv
wikipedia
langchain-text-splitters
pandas
duckdb

# Embeddings and Vector Stores
sentence_transformers
langchain-huggingface
chromadb
langchain-chroma
faiss_cpu

# Misc Deep Learning (Optional)
tf-keras
